nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.logo img {
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.logo h1 {
  font-weight: 900;
}

.text {
  text-align: center;
  line-height: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.links {
  padding: 1rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.links a:hover {
  color: rgb(150, 0, 0);
  transition: color 0.5s ease-in-out;
}

.buttons {
  width: 250px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.164);
  justify-content: space-evenly;
  margin-right: 10px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.buttons input {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  flex: 1;
}

.buttons svg {
  cursor: pointer;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.541);
}

.mobileMenu {
  display: none;
}

.mobileLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.8rem;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
}

.mobileLinks a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.mobileLinks a:hover {
  background-color: rgb(219, 125, 125);
  color: white;
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: auto;
  }

  .links {
    display: none;
  }

  .buttons {
    display: none;
  }

  .mobileMenu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .mobileLinks {
    display: block;
  }
}
