.containerCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.carCard {
  width: 25%;
  max-height: 40rem;
  border: #8f8f8f52 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.carCard:hover {
  transform: scale(1.003);
  cursor: pointer;
}

.carCard img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  color: #a4a5a5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centerInformations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.centerInformations span {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 800;
}

.centerInformations p {
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #474747;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centerInformations p:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 2px;
  background-color: #ccc;
}

.otherInformations {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.otherInformations span {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: space-between;
}
.price {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

@media (max-width: 768px) {
  .containerCards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .carCard {
    width: 80%;
    height: auto;
  }

  .carCard img {
    height: 150px;
  }

  .price h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .price h1 {
    font-size: 1.3rem;
  }
}
