.container {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 1rem;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .section {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}
