.footer {
  margin-top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background-color: black;
  color: white;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  justify-content: space-betweens;
}

.footer img {
  height: 5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.adress {
  width: 50%;
  padding: 1rem;
}

.about {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding: 1rem;
}

.about p {
  font-weight: 200;
}

@media (max-width: 768px) {
  .footer img {
    height: 3rem;
  }
  .footer h2 {
    font-size: 14px;
  }

  .footer p {
    font-size: 12px;
  }
}
